# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store

# downloaded Canon.pm file for generating tags
mknote/canontags/*.pm

# binaries
example/example
dump_exif/dump_exif
dump_xmp/dump_xmp
